DATABASE="host=localhost user=nome_usuario password=sua_senha dbname=nome_db port=5432 sslmode=disable"

KEYCLOACK_URL="http://localhost:8080/realms/nome_do_realm"

EMAIL_USER="seu_email@gmail.com"
EMAIL_PASSWORD="sua_senha_de_app"
EMAIL_SMTP="://gmail.com"