# Configuração do Banco de Dados

POSTGRES_CONTAINER=your_postgres_container

POSTGRES_DB=your_app_database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

POSTGRES_PORT=5432


# Configuração do Keycloak

KEYCLOAK_CONTAINER=your_keycloak_container
KEYCLOAK_PORT=8080

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# Banco separado para o Keycloak
KEYCLOAK_DB=keycloak_db